@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --error: #CF6679;
  --background: #FFF;
  --text: #1C2025;
  --textHover: #434D5B;
  --backHover: #F3F6F9;
  --gradientText: linear-gradient(to left, #6216EE, #FF0266)
}

[class="dark"]:root {
  --error: #CF6679;
  --background: #141A1F;
  --text: #FFF;
  --textHover: #ACBAC8;
  --backHover: #1F262E;
  --gradientText: linear-gradient(to left, #BB86FC, #FF7597)
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 14px;
  font-family: var(--font-roboto-mono);
}

main {
  flex-grow: 1;
}

.gradient-text {
  background-image: var(--gradientText);
  -webkit-background-clip: text;
  color: transparent;
}

.lottie rect {
  fill: var(--background);
}