@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --error: #CF6679;
  --background: #FFF;
  --text: #1C2025;
  --textHover: #434D5B;
  --backHover: #F3F6F9;
}

[data-theme="dark"]:root {
  --error: #CF6679;
  --background: #141A1F;
  --text: #FFF;
  --textHover: #ACBAC8;
  --backHover: #1F262E;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 14px;
  font-family: var(--font-roboto-mono);

  /* Possible change */
  display: grid;
  justify-items: center;
  padding: 0 20px;
}

main {
  min-height: 100vh;
}